.body {
    margin: 2% 10% 0% 10%;
}

.form {
    padding: 20px 20px 5px 20px;
    display: flex;
    flex-flow: row wrap;
}

.formStyle{
    background-color: #f5f5f5f5;
    margin: 10px 10px 10px 0px;
}

.nameInput { 
    width: 90%;
    height: 70%;
}

.creditInput {
    width: 30%;
    height: 70%;
}

.submitButton{
    width: 120%;
    height: 70%;
}

.avgText{
    font-size: medium;
    margin-left: 10px;
}

.listItem{ 
     list-style-type: none;
     float: left;
     padding: 0px 40px 0px 0px;
}

.subject{
    padding: 10px 0px 10px 0px;
    background-color: #f5f5f5;
    width: 80px;
    text-align: center;
}

.button {
    width: 50px;
}

.subjectName{
    align-self: center;
    font-size: medium;
}

.subjectMark{ 
    margin: 2px;
}

.dropdown{
    text-align: right;
}

.picture{
    height: 1em; 
    width: 1em;
}